<nav class="cee-navbar navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('Ceeaches', root_path, class: 'logo navbar-brand') %>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <% if chef_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="profile-link">
            <a href="#">Hi, <%= current_chef.email %></a>
          </li>
          <li class="profile-img">
            <%= link_to('LOGOUT', destroy_chef_session_path, method: :delete) %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li class="login">
            <%= link_to('Log in', new_chef_session_path)  %>
          </li>
          <li class="create-account">
            <%= link_to('CREATE ACCOUNT', new_chef_registration_path, class: 'link') %>
          </li>
        </ul>
      <% end %>
      <form class="navbar-form navbar-right" role="search">
        <div class="cee-input-field form-group">
          <input type="text" class="cee-form-control" placeholder="search recipes...">
        </div>
      </form>
    </div>
  </div>
</nav>
